@media(min-width:1400px){
    .sub-banner,  .site-banner  {
        height: 650px;
    }
   
}

@media(max-width:1400px){
    .nav-links ul li a {
        font-size: 18px;
    }
    .banner-txt h1 {
        font-size: 50px;
    }
    p {
        font-size: 16px;
    }
    h3 {
        font-size: 35px;
    }
    .topcontent-picture img {
        height: 500px;
    }
    .footer-heading h4, h4  {
        font-size: 32px;
    }
    .sub-banner-txt h2 {
        font-size: 40px;
    }
    .unique-main .luxury-img {
        height: 350px;
    }
    .luxury-img {
        height: 300px;
    }
    .read-more-btn a {
        padding: 10px 30px;
        font-size: 16px;
    }
}
@media(max-width:1200px){
    .nav-links ul li a {
        font-size: 16px;
    }
    .banner-txt h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 32px;
    }
    .top-card-txt img {
        max-width: 170px;
    }
    .top-card-txt {
        padding: 15px;
    }
    .footer-heading h4, h4 {
        font-size: 30px;
    }
    .footer-links ul li a {
        font-size: 14px;
    }
    .social-links ul {
        padding: 15px 0;
    }
    .sub-banner-txt h2 {
        font-size: 35px;
    }
    .sub-banner {
        height: 400px;
    }
    .read-more-btn a {
        font-size: 14px;
    }
}
@media(max-width:991px){
    .unique-main .luxury-img, .luxury-img {
        height: 300px;
        margin-bottom: 15px;
    }
    .sub-banner {
        height: 350px;
    }
    .read-more-btn {
        margin-top: 15px;
    }
    .nav-links ul {
        gap: 10px;
        align-items: flex-start;
        flex-direction: column;
    }
    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        background: #936f62;
        width: 350px;
        height: 100vh;
        padding: 20px;
        transform: translateX(-100%);
        transition: all 0.3s linear;
    }
    .menuToggle  .nav-links{
        transform: translateX(0%);
    }
    .toggle, .close {
        display: block;
        font-size: 22px;
        color: #fff;

    }
    .close{
        position: absolute;
        top: 10px;
        right: 10px;

    }

}

@media(max-width:900px){
    p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    h3 {
        font-size: 30px;
    }
    .top-card-txt img {
        max-width: 150px;
    }
    .nav-links ul li a {
        font-size: 14px;
    }
    .footer-heading h4, h4 {
        font-size: 28px;
    }
    .banner-txt h1 {
        font-size: 40px;
    }
    .sub-banner-txt h2 {
        font-size: 32px;
    }
}
@media(max-width:767px){
    .privacy-wrap h5 {
        font-size: 20px;
    }
    .site-logo img {
        max-width: 150px;
    }
    .banner-wrap {
        width: 100%;
    }
    .banner-txt h1 {
        font-size: 35px;
    }
    .top-card {
        margin-bottom: 50px;
    }
    .topcontent-picture img {
        height: 300px;
    }
    .top-card:nth-child(2) .row, .top-card:nth-child(4) .row{
        flex-direction: column-reverse;
    }
    h3 {
        font-size: 28px;
    }
    .footer-logo {
        margin-bottom: 20px;
    }
    .footer-logo img {
        max-width: 170px;
    }
    .sub-banner-txt h2 {
        font-size: 30px;
    }
    .ptb-30 {
        padding: 20px 0;
    }
    .banner-bottom-txt {
        width: 95%;
    }
    .unique-main .luxury-img, .luxury-img {
        height: 250px;
    }
    .footer-heading h4, h4 {
        font-size: 25px;
    }
    .luxury-wrap {
        padding: 10px;
    }
    .contact-txt {
        width: 90%;
    }
    .contact-txt h5 {
        font-size: 20px;
    }
}
@media(max-width:575px){
    #cookies-popup button {
        padding: 8px 15px;
        font-size: 14px;
    }
    .ptb-50 {
        padding: 30px 0;
    }
    .unique-main .luxury-img, .luxury-img {
        height: 200px;
    }
    .footer-heading h4, h4 {
        font-size: 22px;
    }
    .banner-txt h1 {
        font-size: 32px;
    }
    h3 {
        font-size: 25px;
    }
    .top-card-txt img {
        max-width: 130px;
    }
    .top-card-txt {
        padding: 0px;
    }
    .topcontent-picture img {
        height: 250px;
    }
    .sub-banner {
        height: 300px;
    }
    .sub-banner-txt h2 {
        font-size: 28px;
        padding: 0 10px;
    }
    .footer-logo img {
        max-width: 150px;
    }
    .site-logo img {
        max-width: 130px;
    }
    .nav-links {
        width: 100%;
    }
}